[project]
	description = Backup all the config file in your my files at epfl
[access "refs/*"]
	owner = group user/gcmalloc (gcmalloc)
[access "refs/for/refs/*"]
	read = group user/gcmalloc (gcmalloc)
	push = group user/gcmalloc (gcmalloc)
	label-Code-Review = -2..+2 group user/gcmalloc (gcmalloc)
	label-Verified = -1..+1 group user/gcmalloc (gcmalloc)
	rebase = group user/gcmalloc (gcmalloc)
	removeReviewer = group user/gcmalloc (gcmalloc)
	submit = group user/gcmalloc (gcmalloc)
[access "refs/heads/*"]
	read = group user/gcmalloc (gcmalloc)
	create = group user/gcmalloc (gcmalloc)
	push = +force group user/gcmalloc (gcmalloc)
	pushMerge = group user/gcmalloc (gcmalloc)
[access "refs/tags/*"]
	push = +force group user/gcmalloc (gcmalloc)
	pushTag = group user/gcmalloc (gcmalloc)
	pushSignedTag = group user/gcmalloc (gcmalloc)
